/* This file only exists for webpack to copy these images */
a {
  background: url("android-chrome-192x192.52d39a385f5c.webp");
}
b {
  background: url("android-chrome-512x512.4a0184112dd7.webp");
}
c {
  background: url("apple-touch-icon.1ccc85f5197d.webp");
}
d {
  background: url("favicon-16x16.3fb121be7831.webp");
}
e {
  background: url("favicon-32x32.ad25cd862bed.webp");
}
f {
  background: url("favicon.3aa5cca9dc72.ico");
}
g {
  background: url("mstile-150x150.b64c2f8a1332.webp");
}
h {
  background: url("safari-pinned-tab.6faa8da06832.svg");
}
